{% extends "base.html" %}

{% block titulo %}Acerca de 3D-Organ-Inc{% endblock %}
{% block encabezado %}Acerca de Nosotros{% endblock %}

{% block contenido %}
    <p>
        Somos un Equipo de Desarrolladores y Estudiantes apasionados por la innovación Educativa y la Tecnología Biomédica.

3D Organ Inc nace como una Plataforma Digital Educativa enfocada en enseñar de forma Visual e Interactiva el proceso de Impresion de Organos mediante la Bioimpresión 3D aplicado en el ambito de la Medicina Regenerativa.

Nuestro Propósito es acercar y facilitar tanto como el Conocimiento Científico y Aprendizaje al público general, mostrando cómo la tecnología de Bioimpresión  3D y el Modelado 3D pueden Transformar el Futuro de la Salud de esta manera.
    </p>
    <p>
        🌍 Nuestro Compromiso y Proyección
En 3D Organ Inc creemos que la Educación deberia ser Abierta, Visual y Accesible para todo el Publico Interesado.

Buscamos inspirar la 	Curiosidad Científica y Fomentar el Aprendizaje Autodidacta a través de Herramientas Digitales que Conecten la Tecnología con la Medicina del Futuro. Este Proyecto nació en el Marco Académico de la Fundación Universitaria Uninpahu, pero está Diseñado para Evolucionar Progresivamente.

A futuro, Planeamos integrar nuevos órganos en la Galería, Desarrollar mas Proyectos Interactivos en la plataforma de Aprendizaje y lograr Establecer Alianzas con Instituciones Educativas y de Investigación en el Ambito de la Medicina Regenerativa y la Bioimpresion 3D.
    </p>
{% endblock %}
