{% extends "base.html" %}

{% block titulo %}{{ elemento.nombre }}{% endblock %}
{% block encabezado %}{{ elemento.nombre }}{% endblock %}

{% block contenido %}
    <div class="caja">
        <p><strong>Categoría del Modelo 3D:</strong>
            <a href="{% url 'catalogo:por_categoria' elemento.categoria.slug %}">
                {{ elemento.categoria.nombre }}
            </a>
        </p>
        <p><strong>Descripción del Modelo:</strong> {{ elemento.descripcion|default:"(sin descripción)" }}</p>
        <p><strong>Registrado en la fecha:</strong> {{ elemento.fecha_registro }}</p>
        <p><strong>Estado del Modelo:</strong> {% if elemento.activo %}Activo{% else %}Inactivo{% endif %}</p>
    </div>

    <p><a href="{% url 'catalogo:index' %}">&larr; Volver al catálogo de Modelos 3D</a></p>
{% endblock %}
