{% extends "base.html" %}

{% block titulo %}Categoría: {{ categoria.nombre }}{% endblock %}
{% block encabezado %}Categoría: {{ categoria.nombre }}{% endblock %}

{% block contenido %}
    {% if elementos %}
        <ul>
            {% for elemento in elementos %}
                <li class="caja">
                    <a href="{% url 'catalogo:detalle' elemento.id %}">{{ elemento.nombre }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Esta categoría todavía no tiene modelos 3d activos.</p>
    {% endif %}

    <p><a href="{% url 'catalogo:index' %}">&larr; Volver al catálogo de Modelos 3D</a></p>
{% endblock %}
